body {
  margin: 0;
  font: 1em arial, sans-serif;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
}

h1 {
  display: none;
/*  font: 2em Sans-serif;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 10px;*/
}

ul {
  padding: 0;
  margin: 0;
}

.main {
  margin: auto;
  margin-top: 50px;
  width: 600px;
}

.mainTitle {
  display: block;
  text-align: center;
  font: 7em Helvetica;
  font-weight: bold;
  /*text-transform: uppercase;*/
  letter-spacing: -0.08em;
}

.mainTitle span {
  color: #DA2C23;
}

ul.links {
  padding: 20px 0px;
  background-color: transparent;
  border-bottom: 1px solid black;
}

ul.links li {
  padding: 0px 20px;
  margin: 5px 0px;
  list-style-type: none;
}

ul.links li.originalUrl {
  font-style: italic;
}

ul.links li.title {
  font-size: 1.5em;
}

ul.links li span {
  font-weight: bold;
}

.navigation {
  /*margin: 20px;*/
  background-color: #DA2C23;
  color: white;
  padding-left: 30px;
}

.navigation ul {
  padding: 0;
}

.navigation span {
  padding: 10px 30px;
  display: inline-block;
  float: right;
  font-weight: bold;
  font-size: 1.5em;
}

.navigation li {
  /*margin: 0px 3px;*/
  display: inline-block;
  list-style-type: none;
/*  border-right: 1px solid white;
  border-top: 1px solid black;
  border-radius: 5px;*/
}

.navigation li a {
  width: 100px;
  height: 30px;
  line-height: 30px;
  padding: 10px;
  display: block;
  text-align: center;
  color: white;
}

.navigation li a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  /*text-decoration: underline;*/
}

form input, input {
  width: 400px;
  height: 27px;
  display: inline;
  margin: 20px 0px;
  border: 0px;
  border-bottom: 2px solid black;
}

input[type="text"], input[type="password"] {
  font-size: 1.5em;
}

input.searchLinks {
  width: 100%;
}

button {
  margin: 20px 0px;
  padding: 8px;
  background-color: white;
  border: 1px solid black;
  border-radius: 0.3em;
  font-size: 0.8em;
}

#container, #links {
  clear: both;
  margin: 50px 0px;
}

#container {
  text-align: center;
}
/*
.link {
  clear: both;
  margin-bottom: 5px;
  padding: 5px;
  min-height: 50px;
}

.link:hover {
  background-color: #efe;
}

.link img {
  float: left;
  margin: 0 5px;
}

.link .visits {
  float: right;
  margin-right: 10px;
  margin-left: 20px;
}

.link .visits .count {
  font-size: 46px;
  font-weight: 600;
}

.link .title {
  font-weight: 600;
}

.link .original {
  color: #aaa;
  font-size: 12px;
}

.link .info {
  margin-left: 55px;
}

form {
  margin: 10px;
}

input {
  width: 360px;
  display: block;
  font-size: 13px;
  padding: 5px;
  margin-bottom: 5px;
}

input[type=url] {
  display: inline
}

.error {
  border: red solid 4px;
  padding: 10px;
  margin: 0 10px;
}

.clean {
  border: #efe solid 2px;
  padding: 10px;
  margin: 0 10px;
}

.creator {
  height: 50px;
}

.creator form {
  float: left;
  height: 80px;
}

.creator img.spinner {
  height: 46px;
  margin-bottom: 5px;
  padding: 10px;
  display: none;
}

.creator .message {
  clear: both;
}*/
