<div id="container">
  <h1>Sign In</h1>
  <form name="signinForm" ng-submit="signin()">
    <input type="text" name="username" placeholder="username" ng-model="user.username">
    <input type="password" name="password" placeholder="password" ng-model="user.password" ng-minlength="6"><br/>
<!--     <span ng-show="signinForm.password.$error.minlength">Minimum of six characters not achieved, brosef!</span><br/> -->
    <button type="submit" ng-disabled="signinForm.password.$error.minlength">Sign In</button>
  </form>
  <a href="#/signup">Don't have an account? Sign up.</a>
</div>
