<div id='container'>
  <h1>signup</h1>
  <form name="signupForm" ng-submit='signup()'>
    <input type='text' name="username" ng-model='user.username'>
    <input style="display: inline" type="password" name="password" ng-model='user.password' ng-minlength="6">
    <span ng-show="signupForm.password.$error.minlength">Minimum of six characters bro!</span><br/>
    <button type="submit" ng-disabled="signupForm.password.$error.minlength">signup</button>
  </form>
  <a href="#/signin">Already have an account? Signin ...</a>
</div>
